.station {
  display: flex;
  flex-direction: column;
  width: calc(100% - 3vw);
  padding: 2vh 1.5vw;
}

.station-header {
  display: flex;
  font-size: 1.8vw;
  font-weight: bold;
  align-items: baseline;
  padding-bottom: 3vh;
}

.station-header *{
  transition: 0.5s;
  margin-left: 0.5rem;
}

.station-header *:last-child {
  margin-left: auto;
  font-size: 1.2vw;
  color: var(--light-2);
}

.station-header *:hover{
  filter: brightness(2);
}

.station-button {
  color: var(--accents-gold-1);
  cursor: pointer;
}