.app {
  display: flex;
  flex-direction: column;
  color: var(--light-1);
  font-size: 1rem;
  text-shadow: 2px 2px 1px var(--dark-3);
  padding: 0.5vw;
}

.line-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  padding: 2vh 1.5vw;
  transition: 0.2s;
}

.line-list.visible {
  filter: opacity(1);
}

.line-list.invisible {
  filter: opacity(0);
}