.app {
  display: flex;
  flex-direction: column;
  color: var(--light-1);
  font-size: 1rem;
  text-shadow: 3px 3px 1px var(--dark-3);
  padding: 0.5vw;
}

.line-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  padding: 2vh 1.5vw;
}